/* # Front-end Style Guide

## Layout */

/* The designs were created to the following widths: */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
:root{
    --Mobile: 375px;
--Desktop: 1440px





--Lineargradient: linear-gradient(
  to bottom,
  hsl(249, 99%, 64%),
  hsl(278, 94%, 30%)
);

/* --Lineargradient: linear-gradient(hsl(249, 99%, 64%) to hsl(278, 94%, 30%)); */
--Red : hsl(0, 100%, 66%);

/* ### Neutral */

--White: hsl(0, 0%, 100%);
--Lightgrayish : hsl(270, 3%, 87%);
--Darkgrayish : hsl(279, 6%, 55%);
--Verydark : hsl(278, 68%, 11%);

/* ## Typography

### Body Copy */

--Fontsize: 18px;

/* ### Font */

--Family: "Space Grotesk";
--Weights: 500;

}
body{
    width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--Family);
}

.App{
    min-width:100%;
    max-height: 100vh;
    
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* justify-content: center; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;

     /* place-items: center; */
    

}
.leftCard{
    /* flex-basis: 1/3; */
    width: 100%;
    height: 600px;
    /* max-height: 100%; */
    background-image: url(./images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    
   
}
.rightForm{
    width: 100%;
   
    display: flex; 
    justify-content: center;
    /* background-color: aqua;  */
    padding: 0;
}
.form {
   max-width: 90%;
   height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
    /* place-items: center; */
    /* background-color: aquamarine; */
    position: relative;
    top: 15%;
    gap: 3em;
    /* padding: 4rem; */
    box-sizing: border-box;
  }
  .formLabel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    font-size: 2em;
    letter-spacing: 2px;
  }
  .inputField {
    width: 100%;
    font-size: 1em;
    padding:  2rem;
    box-sizing: border-box;
    outline: none;
    border: 1px solid var(--Darkgrayish);
    border-radius: 20px;
  }
  .exp_cvccontainer{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
  }
  .expInput{
    display: flex;
    gap: 1rem;
  }
.button{
    padding: 3rem;
    background-color: var(--Verydark);
    color: white;
    font-size: 2.5em;
}
@media (min-width:1400px){
    .App{
        grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr ;
    gap: 10rem;
    }
    .leftCard{
        min-height: 100vh;
    }
    .rightForm{
        display: grid;
        place-items: center;
height: 100vh;
align-items: center;
    }
    .form{
        width: 600px;
        gap: 2rem;
        /* font-size: 10px; */
    }
    .inputField{
        font-size: 16px;
        padding: 1rem;
        border-radius: 10px;
    }
    .formLabel{
        font-size: 16px;
        gap: 10px;
    }
}